#pane{
    -fx-background-image: url("top-view-books-circle-with-copy-space.jpg");
    -fx-background-repeat: no-repeat;   
     -fx-background-size: cover; /* Resize the background image to cover the entire container */
}
#pane1{
    -fx-background-image: url("top-view-books-circle-with-copy-space.jpg");
    -fx-background-repeat: no-repeat;   
   
     -fx-background-size: cover; /* Resize the background image to cover the entire container */
}
#pane2{
    -fx-background-image: url("grey-gradient-abstract.jpg");
    -fx-background-repeat: no-repeat;   
     -fx-background-size: cover; /* Resize the background image to cover the entire container */
}
